:root {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #32b24e;
    --clr-primary-a10: #52bb62;
    --clr-primary-a20: #6cc475;
    --clr-primary-a30: #83cd88;
    --clr-primary-a40: #99d59b;
    --clr-primary-a50: #aedeaf;

    /** Theme surface colors */
    --clr-surface-a0: #000000;
    --clr-surface-a10: #1e1e1e;
    --clr-surface-a20: #353535;
    --clr-surface-a30: #4e4e4e;
    --clr-surface-a40: #696969;
    --clr-surface-a50: #858585;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #0d170d;
    --clr-surface-tonal-a10: #242c24;
    --clr-surface-tonal-a20: #3b433b;
    --clr-surface-tonal-a30: #545b54;
    --clr-surface-tonal-a40: #6e746e;
    --clr-surface-tonal-a50: #898e89;

    --font-family: Arial, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-family: var(--font-family);
    background-color: var(--clr-surface-a0);
    color: var(--clr-light-a0);
}


header {
    background-color: var(--clr-surface-a0);
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--clr-primary-a0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /* position: sticky; */
    /* top: -40px; */
    /* z-index: 1000; */
    transition: background-color 0.3s ease;
}


header>a {
    text-decoration: none;
    color: var(--clr-light-a0);
    font-size: 24px;
    font-weight: bold;
}

header>nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav>button {
    background-color: transparent;
    color: var(--clr-light-a0);
    font-size: 18px;
}

nav>button:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-primary-a0);
}

button {
    background-color: var(--clr-primary-a0);
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: var(--clr-surface-a0);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-surface-a0);
}

button:focus {
    outline: none;
}

button:active {
    color: var(--clr-light-a0);
}

button:disabled {
    color: var(--clr-surface-a50);
    cursor: not-allowed;
}

button:disabled:hover {
    text-decoration: none;
}

main {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: calc(100% - 60px); */
}

section {
    margin: 10px auto;
    background-color: var(--clr-surface-a10);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 800px;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: var(--clr-surface-a0);
    padding: 10px;
    text-align: center;
    /* position: relative;
    bottom: 0; */
    position: sticky;
    top: 100%;
    width: 100%;
    color: var(--clr-light-a0);
}

.login,
.register {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
}

.login-card,
.register-card {
    display: flex;
    flex-direction: column;

    width: 90%;
    max-width: 600px;

    background-color: var(--clr-surface-a10);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-card>*,
.register-card>* {
    margin: 0;
    margin-bottom: 10px;
}

.login-card h1,
.register-card h1 {
    margin-bottom: 20px;
}

a {
    color: var(--clr-primary-a0);
    text-decoration: none;
}

a:hover {
    color: var(--clr-primary-a50);
    text-decoration: underline;
}

a:visited {
    color: var(--clr-primary-a10);
}

/* dashboard start*/
.habit-form,
.habits-list {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* width: 90%; */
    /* max-width: 600px; */
    background-color: var(--clr-surface-a10);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* margin: 20px auto; */
}

.habit-form>form>* {
    margin: 0;
    margin-bottom: 10px;
}

/* dashboard end */


/* Form Start */
form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: var(--clr-surface-a0);
    color: var(--clr-light-a0);
    padding: 10px;
    border: 1px solid var(--clr-surface-a0);
    border-radius: 8px;
}

input:focus,
input:active {
    outline: none;
    border-color: var(--clr-primary-a0);
}

textarea {
    background-color: var(--clr-surface-a0);
    color: var(--clr-light-a0);
    padding: 10px;
    border: 1px solid var(--clr-surface-a0);
    border-radius: 8px;
}

textarea:focus,
textarea:active {
    outline: none;
    border-color: var(--clr-primary-a0);
}

textarea::placeholder {
    color: var(--clr-surface-a50);
}

select {
    background-color: var(--clr-surface-a0);
    color: var(--clr-light-a0);
    padding: 10px;
    border: 1px solid var(--clr-surface-a0);
    border-radius: 8px;
}

select:focus,
select:active {
    outline: none;
    border-color: var(--clr-primary-a0);
}

input[type="checkbox"] {
    cursor: pointer;
}

/* Form End */

.habit-progress {
    max-width: 1600px;
}

.Habits {
    background-color: var(--clr-surface-a0);
    border: 1px solid var(--clr-primary-a0);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;

    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.Habits:hover {
    background-color: var(--clr-surface-a10);
    border-color: var(--clr-primary-a10);
}

.Habits>* {
    margin: 0;
}

.progress-item {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.dashboard-card-1 {
    background-color: var(--clr-surface-a20);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.dashboard-card-1>div {
    height: 20px;
    width: 100%;
    background-color: var(--clr-surface-a0);
    border-radius: 8px;
}

.dashboard-card-1>div>div {
    height: 100%;
    background-color: var(--clr-primary-a0);
    border-radius: 8px;
}

.streakDashboard {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.streakCard {
    text-align: center;
    background-color: var(--clr-surface-a20);
    padding: 20px;
    /* padding-left: 0; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.streakCard>div {
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.compactDIV > * {
    margin: 0;
}

#challenge-form{
    gap: 10px;
}

@media screen and (max-width: 1230px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
}
